GMAIL_ADDRESS=[yourgmail@gmail.com](mailto:yourgmail@gmail.com)
GMAIL_APP_PASSWORD=your_app_password

ALERT_TO_EMAIL=[mail1@gmail.com](mailto:mail1@gmail.com),[mail2@gmail.com](mailto:mail2@gmail.com)
